# Node
node_modules/
dist/
.DS_Store

# Python & Data (Only frontend processed data allowed)
__pycache__/

# Temporary Data & Scripts
*.py
data/*.csv
scripts/logs/
!frontend/public/data/social_network_data.json
!frontend/public/data/chronology_full.csv

# Agents mds 
AGENTS.md

# Temporary files
.cursor/
.iflow/
.claude/
.gemini/
docs/snapshots/
